.map-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.back-button {
  position: absolute;
  top: 32px;
  left: 30px;
  cursor: pointer;
  height: auto;
  width: 28px;
}

.info-card {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 40%;
  background: #eae8e6;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  justify-content: space-between;
}

.status-bubble {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  min-width: 80px;
}

.status-bubble-lg {
  display: inline-block;
  padding: 8px 35px;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  margin: 4px;
}

.open {
  background-color: #b9be80;
  color: white;
}

.approaching {
  background-color: #f2b94c;
  color: white;
}

.full {
  background-color: #c76666;
  color: white;
}

.card-content {
  background-color: white;
  margin-bottom: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 2px 4px 2px 30px;
}

.status {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

caption.subtitle {
  caption-side: top;
  text-align: center;
  display: table-caption;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}


.info-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
}

.info-table th,
.info-table td {
  padding: 3px;
  text-align: center;
}

.info-table thead {
  border-radius: 4px 4px 0 0; /* Rounded corners for the header */
  overflow: hidden;
}

.info-table th {
  background-color: #1c3149;
  color: white;
  padding: 8px;
}

.see-more {
  background-color: #3b536c;
  color: white;
  font-weight: 600;
  font-size: large;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  margin-top: auto;
  align-self: center;
  width: 100%;
}

.see-more:hover {
  background-color: #142236;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}
