table {
    background: #CCC7C8;
    border-collapse: collapse;
    border-spacing: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

thead {
    background-color: #010F31;
    color:white;
    display: block;
    width: 100%;
    
}

thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody tr {
    color:black;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.tbody-wrapper {
    display: block;
    max-height: 70vh;
    overflow-y: auto;
}
tbody {
    display: block;
    width: 100%;
}

/* TODO Apparently border-bottom doesn't work if border-collapse is set to separate? No clue why, but apparently giving the box-shadow attribute fixes it*/
tbody tr {
    box-shadow: 0px 0px 0px 1px #010F31;
    display: table;
    width: 100%;
    table-layout: fixed;
}

td, th {
    text-align: center;
    width: 25%;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    padding: 12px;
  }